<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> my first app</h1>
    <form action="/" method="post">
        <label>enter height</label>
        <input type="number" name="height" placeholder="enter your height">
        <input type="submit">
    </form>
    <form>enter the height value is{{hei}}</form> 
    <form>enter the weight value is{{wei}}</form>
</body>
</html>